@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #000000, #0b0a0a);
  color: white;
  font-family:'Josefin Sans', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: 'ubuntu', sans-serif;
}