
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background: linear-gradient(to bottom, #000000, #18181b, #000000);
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}